.timelapse-thumbnail {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.img-holder {
  margin-bottom: 20px;
}

.timelapse-icons {
  display: table;
  margin: 0 auto;
}

.timelapse-icons .right-icon {
  margin-left: 20px;
}