<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="title">{{ 'TIMELAPSES_TITLE' | translate:param }}</h4>
                        <p class="category">{{ 'TIMELAPSES_SECOND_TITLE' | translate:param }}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating ">
                                    <label class="control-label">{{ 'TIMELAPSES_CODEC' | translate:param }}</label>
                                    <ng2-completer class="completer-limit"
                                                   [(ngModel)]="selectedCodecDescription"
                                                   [datasource]="codecsDescription"
                                                   [minSearchLength]="0"
                                                   [maxChars]="4"
                                                   [inputClass]="'form-control'"
                                                   [matchClass]="'match'"
                                                   [textSearching]="false">
                                    </ng2-completer>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ 'TIMELAPSES_FORMAT' | translate:param }} </label>
                                    <ng2-completer class="completer-limit"
                                                   [(ngModel)]="selectedFormat"
                                                   [datasource]="formats"
                                                   [minSearchLength]="0"
                                                   [maxChars]="4"
                                                   [inputClass]="'form-control'"
                                                   [matchClass]="'match'"
                                                   [textSearching]="false">
                                    </ng2-completer>

                                </div>
                            </div>


                            <div class="col-md-12">
                                <label class="control-label">{{ 'TIMELAPSES_FPS' | translate:param }} </label>
                                <ion-range-slider min="1" max="144" [from]="fps"
                                                  (onChange)="sliderOnUpdate($event)"
                                ></ion-range-slider>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <label class="control-label">{{ 'TIMELAPSES_FROM' | translate:param }} </label>
                                    <input matInput [matDatepicker]="startDatepicker"  [(ngModel)]="startDate" readonly
                                           (click)="startDatepicker.open()"
                                    >
                                    <mat-datepicker-toggle matSuffix [for]="startDatepicker"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #startDatepicker></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field class="example-full-width ">
                                    <input atp-time-picker value="19:00" [(ngModel)]="startTime" matInput type="text"
                                    >
                                    <span class="form-control-feedback">
                                    <i class="material-icons">done</i>
                                    </span>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <label class="control-label">{{ 'TIMELAPSES_FROM' | translate:param }} </label>
                                    <input matInput [matDatepicker]="endDatePicker"  [(ngModel)]="endDate" readonly
                                           (click)="endDatePicker.open()"
                                    >
                                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #endDatePicker></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field class="example-full-width ">
                                    <input atp-time-picker value="19:00" [(ngModel)]="endTime" matInput type="text">
                                    <span class="form-control-feedback">
                                    <i class="material-icons">done</i>
                                    </span>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <br/>
                                <p class="text-success">{{ filesProgress }}</p>
                                <div class="progress" [hidden]="!processing">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100"
                                         [ngStyle]="{'width': progress}">
                                    </div>
                                </div>
                                <p class="text-danger">{{ errorMessage }}</p>
                                <button [disabled]="processing" class="btn btn-success" (click)="createTimelapse()">{{
                                    'TIMELAPSES_BTN_CREATE' |
                                    translate:param }}
                                </button>
                                <button *ngIf="processing" class="btn btn-danger" (click)="stopTimelapse()">{{
                                    'TIMELAPSES_BTN_CANCEL' |
                                    translate:param }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ 'TIMELAPSES_SCHEDULE_TITLE' | translate:param }}</h4>
                        <p class="card-category">{{ 'TIMELAPSES_SCHEDULE_SECOND_TITLE' | translate:param }}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{ 'TIMELAPSES_GALLERY_TITLE' | translate:param }}</h4>
                        <p class="card-category">{{ 'TIMELAPSES_GALLERY_SECOND_TITLE' | translate:param }}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">


                            <div *ngFor="let timelapse of timelapses" class="col-md-4 img-holder">
                                <img class="timelapse-thumbnail text-center" [src]="apiURL + '/timelapse/' + timelapse.id + '/thumbnail'">
                                <div class="timelapse-icons">
                                    <a [href]="apiURL + '/timelapse/' + timelapse.id + '/video' "><i class="material-icons text-center">cloud_download</i></a>
                                    <a [href]="apiURL + '/timelapse/' + timelapse.id + '/mosaic'" class="right-icon"><i class="material-icons text-center">grid_on</i> </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>