<div class="main-content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-3 col-md-4">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Login</h4>
            <p class="category">Welcome!</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label for="username" class="control-label">Username</label>
                    <input id="username" type="text" class="form-control" autofocus>
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <button type="submit" class="btn pull-right" data-background-color="purple">Login</button>
              <div class="clearfix"></div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
